<%
const posts = site.posts;
%>
const recentPosts = [<% posts.limit(5).each((post)=>{%>
{
  title: "<%- post.title %>",
  permalink: "<%- url_for(post.path) %>",
  date: "<%- post.date %>"
},<%}) %>
];

function createPostList(post){
  const date = new Date(post.date).toLocaleDateString();
  return '<li><span class="fa fa-caret-right"></span> <a href="'+post.permalink+'">'+post.title+'</a></li>';
}

function renderPosts(){
  const recentPostsList = document.getElementById('recentPostsList');
  recentPostsList.innerHTML = '';
  
  recentPosts.forEach((post)=>{
    const postList = createPostList(post);
    recentPostsList.innerHTML += postList;
  });
}

document.addEventListener('DOMContentLoaded',renderPosts);