                    <div class="column is-8 box">
                        <%- partial('post/header',{page: page}) %>
                        
                        <div class="content">
                          <%- page.content %>
                        </div>
                        
                        <%- partial('post/navigation',{page: page}) %>
                      </div>