                    <div class="column is-8 box">
                        <h2 class="title is-4">
                          <%- page.title %>
                        </h2>
                        <div class="content">
                          <%- page.content %>
                        </div>
                    </div>