                    <div class="column is-8 box">
                        <div class="box">
                            <h2 class="title is-3">
                              <span class="fa fa-folder"></span>
                              <%- page.title %>
                            </h2>
                            <%- partial('badge',{
                              terms: site.categories
                            }) %>
                        </div>
                        <%- partial('term',{
                          terms: site.categories,
                          texonomyname: __('category'),
                          icon: 'fa fa-folder-open'
                        }) %>
                    </div>