                    <div class="column is-8 box">
                        <h2 class="title is-4">
                          <%- page.title %>
                        </h2>
                        <article class="content">
                          <%- page.content %>
                        </article>
                    </div>