
                            <li>
                              <div class="is-pulled-left">
                                <span class="fa fa-caret-right"></span>
                                <a href="<%- url_for(post.path) %>">
                                  <%- post.title %>
                                </a>
                              </div>
                              <div class="is-pulled-right">
                                <time>
                                  <%- date(post.date, "DD, MMM") %> &nbsp;
                                  <span class="fa fa-calendar"></span>
                                </time>
                              </div>
                              <div class="is-clearfix"></div>
                            </li>