
                            <div class="panel-block">
                              <p>
                                <span class="fa fa-caret-right"></span>
                                <a href="<%- url_for(post.path) %>">
                                  <%- post.title %>
                                </a>
                              </p>
                              <p>
                                <time>
                                  <%- date(post.date, "DD, MMM") %> &nbsp;
                                  <span class="fa fa-calendar"></span>
                                </time>
                              </p>
                              <div class="is-clearfix"></div>
                            </div>