                    <div class="column is-8 box">
                        <div class="box">
                            <h2 class="title is-3">
                              <span class="fa fa-tags"></span>
                              <%- page.title %>
                            </h2>
                            <%- partial('badge',{
                              terms: site.tags
                            }) %>
                        </div>
                        
                        
                        <%- partial('term',{
                          terms: site.tags,
                          texonomyname: __('tag'),
                          icon: 'fa fa-tag'
                        }) %>
                        
                        
                        
                    </div>