  <head>
    <%- partial('head/head') %>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a href="<%- url_for('/') %>" class="navbar-item">
          <%- config.title %>
        </a>
        
        <a role="button" class="navbar-burger">
          <span data-hidden="true"></span>
          <span data-hidden="true"></span>
          <span data-hidden="true"></span>
        </a>
      </div>
    </nav>
    
    <%- partial('hero/hero') %>
    