<div class="column">
  <div class="content has-text-centered">
    <figure class="image is-16by9">
      <img style="border-radius: 5px" src="<%- url_for(page.cover) %>" alt="" />
    </figure>
    
    <p class="title is-4"><%- page.title %></p>
    <p>
      <%- page.content %>
    </p>
  </div>
</div>