@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
$body-background-color: #776699;
$body-color: #ffddaa ;
$text: #ffffdd;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: 2px;


// my customization
// Card
$card-header-color: #ffffaa;
$card-header-shadow: #ffffaa;
$card-color: #ffffdd;
$card-background-color: #7755aa;
$card-content-background-color: #7755dd;
$card-shadow: #ffffdd;


$title-color: #ffff00;
$subtitle-color: #ffff99;
// Import only what you need from Bulma
@import "../bulma.sass";
