<div id="body" class="container">
  <div class="section">
    <div class="columns">
      <%- body %>
          
      <div class="column is-4">
        <%- partial('sidebar') %>
        
      </div>
          
      </div>
    </div>    
  </div>
    