<%
  const postsByMonthYear = {}
  
  posts.each(function(post){
    const date = new Date(post.date)
    const year = date.getFullYear(date)
    const month = date.getMonth(date)
    
    if(!postsByMonthYear[year]){
      postsByMonthYear[year] = {}
    }
    if(!postsByMonthYear[year][month]){
      postsByMonthYear[year][month] = []
    }
    
    postsByMonthYear[year][month].push(post)
  })
%>

<% postsByMonthYear.each(function(post){ %>
<p><%- post.title %></p>
<% })

%>