      
        <footer class="footer" style="">
            <div class="container">
                <p class="has-text-centered">
                    Copyright &copy; 2023 Bulma Template. All rights reserved.
                </p>
                <p class="has-text-centered">
                  <a title="Web Analytics" href="https://clicky.com/101442154"><img alt="Clicky" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
                  <script async data-id="101442154" src="//static.getclicky.com/js"></script>

                </p>
            </div>
        </footer>
        <nav id="buttom-ad" class="is-fixed-bottom" aria-label="buttom ad">
            <div class="adspace">
                <a class="" href="/">
                    <img src="ad.jpg" alt="turmhub"/>
                </a>
            </div>
        </nav>
        <style type="text/css" media="all">
            #buttom-ad .adspace {
                position: fixed;
                bottom: 0;
                width: 100%;
                padding: 0px;
                text-align: center;
                margin-bottom: 0;
            }
            #buttom-ad img {
                width: 100%;
                max-width: 720px;
                height: auto;
                max-height: 50px;
            }
            pre code { background-color: #f5f5f5; }
        </style>