        <section class="hero is-info">
          <%
          var featured_img = page.featured_img || theme.header_img || "/header.webp"
          featured_img = url_for(featured_img);
          %>
            <div
                class="hero-body has-text-centered"
                style="
                    background-image: url('<%- featured_img %>');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                ">
                <h1 class="title"><%- page.title || config.subtitle %></h1>
                <% if(page.layout == 'custom/landing'){%>
                <p class="subtitle">
                  <%- page.description || config.description %>
                </p>
                <%} %>
            </div>
        </section>