                    <div class="column is-4 box">
                        <div class="box">
                          <% if(page.layout == 'post'){%>
                            <%- partial('../post/recent-posts') %>
                          <%} %>
                          <h2 class="title is-4">About me</h2>
                          <p>
                            Hello I am Viliyam Vasava. I am developing the Hexo Static Site.
                          </p>
                          
                        </div>
                    </div>